.checkout-container {
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    width: 120px;
    align-items: center;
    position: fixed;
    margin-left: 85%;
    overflow: auto;
    flex-direction: column;
    
  }
  
  
  .checkout-container > div > img {
    width: 95%;
    border-radius: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
  

  }

  .checkout-container > h1 {
    align-content: center;
    font-size: 25px;
    margin-top: 25px;
    margin-bottom: 20px;
  }

  